<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="game-board.css" rel="stylesheet">

    <title></title>
</head>
<body>
 <div class="grid-container">

        <div class="thousands"></div>

        <div class="thousands">1000</div>
        <div class="hundreds">100</div>
        <div class="tens">10</div>
        <div class="units">1</div>
        <div class="blank-head">addends</div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-one" id="addend-one" th:text="${addendOne}"></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-two" id="addend-two" th:text="${addendTwo}"></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-three"></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-four"></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-five"></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-six"></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-seven"></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-eight"></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-nine"></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="grid-item"><div class="dot"></div></div>
     <div class="item-ten"><div class="dot"></div></div>

        <div class="addend-ten"></div>

        <div class="thousands-carry-over"></div>
        <div class="hundreds-carry-over"></div>
        <div class="tens-carry-over"></div>
        <div class="units-carry-over"></div>
        <div class="blank-foot"></div>

        <div class="thousands-total"></div>
        <div class="hundreds-total"></div>
        <div class="tens-total"></div>
        <div class="units-total"></div>
        <div class="sum-total"><input type="text" name="answer" id="answer" class="answer"/></div>


        <!--        425 div elements-->

    </div><br>
<form onsubmit="return false">
    <button type="button" class="reset-button" id="reset-button">reset</button><button type="submit" class="check-answer-button" id="check-answer-button">check answer</button>
</form>

<p hidden th:text="${sum}" class="sum"></p>
</body>
<script src="script.js"></script>
</html>