<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="game-board.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
    <title></title>
</head>
<body>
 <div class="grid-container">

     <div class="column-head" id="thousands">1000</div>
     <div class="column-head" id="hundreds">100</div>
     <div class="column-head" id="tens">10</div>
     <div class="column-head" id="units">1</div>
     <div id="blank-head">addends</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

        <div class="addend" id="addend-one" th:text="${addendOne}"></div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

        <div class="addend" id="addend-two" th:text="${addendTwo}"></div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

        <div class="addend"></div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

        <div class="addend"></div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="grid-item">&bull;</div>
     <div class="item-ten">&bull;</div>

        <div class="addend"></div>


        <div class="thousands-carryover"><input type="text" name="thousands-carryover" class="single-unit" size="1"></div>
        <div class="hundreds-carryover"><input type="text" name="hundreds-carryover" class="single-unit" size="1"></div>
        <div class="tens-carryover"><input type="text" name="tens-carryover" class="single-unit" size="1"></div>
        <div class="units-carryover"></div>
        <div class="blank-foot"></div>

        <div class="thousands-total"><input type="text" name="thousands-total" class="single-unit" size="1"></div>
        <div class="hundreds-total"><input type="text" name="hundreds-total" class="single-unit" size="1"></div>
        <div class="tens-total"><input type="text" name="tens-total" class="single-unit" size="1"></div>
        <div class="units-total"><input type="text" name="units-total" class="single-unit" size="1"></div>
        <div class="sum-total"><input type="text" name="answer" id="answer" class="answer"/></div>
        </div><br>
 <div class="form">
     <form onsubmit="return false">
         <button type="button" class="reset-button" id="reset-button">reset</button>
         <button type="submit" class="check-answer-button" id="check-answer-button">check answer</button>
    </form>
     <form th:method="post">
         <input type="hidden" th:field="${newGame.addendOne}" >
         <input type="hidden" th:field="${newGame.addendTwo}">
         <input type="hidden" th:field="${newGame.sum}">
         <button type="submit" id="save-button">save game</button>
     </form>
 </div>

</body>
<script src="script.js"></script>
</html>