.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.grid-container {
    display: grid;
  /* 48 auto columns */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 2px;
    background-color: black;
    padding: 2px;

 }

.grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}

.thousands {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
    border-right: 2px solid black;
}

.hundreds {
    grid-column-start: 11;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 4;
    border-right: 2px solid black;
}

.tens {
    grid-column-start: 21;
    grid-column-end: 31;
    grid-row-start: 1;
    grid-row-end: 4;
    border-right: 2px solid black;
}

.units {
    grid-column-start: 31;
    grid-column-end: 41;
    grid-row-start: 1;
    grid-row-end: 4;
    border-right: 2px solid black;
}

.blank-head {
    grid-column-start: 41;
    grid-column-end: 49;
    grid-row-start: 1;
    grid-row-end: 4;
}

.addend-one {
    grid-column-start: 41;
    grid-column-end: 49;
}

.addend-two {
    grid-column-start: 41;
    grid-column-end: 49;
}

.addend-three {
    grid-column-start: 41;
    grid-column-end: 49;
}

.addend-four {
    grid-column-start: 41;
    grid-column-end: 49;
}

.addend-five {
    grid-column-start: 41;
    grid-column-end: 49;
}

.addend-six {
    grid-column-start: 41;
    grid-column-end: 49;
}

.addend-seven {
    grid-column-start: 41;
    grid-column-end: 49;
}

.addend-eight {
    grid-column-start: 41;
    grid-column-end: 49;
}

.addend-nine {
    grid-column-start: 41;
    grid-column-end: 49;
}

.addend-ten {
    grid-column-start: 41;
    grid-column-end: 49;
}

.thousands-carry-over {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 14;
    grid-row-end: 16;
    border-right: 2px solid black;
}

.hundreds-carry-over {
    grid-column-start: 11;
    grid-column-end: 21;
    grid-row-start: 14;
    grid-row-end: 16;
    border-right: 2px solid black;
}

.tens-carry-over {
    grid-column-start: 21;
    grid-column-end: 31;
    grid-row-start: 14;
    grid-row-end: 16;
    border-right: 2px solid black;
}

.units-carry-over {
    grid-column-start: 31;
    grid-column-end: 41;
    grid-row-start: 14;
    grid-row-end: 16;
    border-right: 2px solid black;
}

.blank-foot {
    grid-column-start: 41;
    grid-column-end: 49;
    grid-row-start: 14;
    grid-row-end: 16;
    border-right: 2px solid black;
}

.thousands-total {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 16;
    grid-row-end: 19;
    border-right: 2px solid black;
}

.hundreds-total {
    grid-column-start: 11;
    grid-column-end: 21;
    grid-row-start: 16;
    grid-row-end: 19;
    border-right: 2px solid black;
}

.tens-total {
    grid-column-start: 21;
    grid-column-end: 31;
    grid-row-start: 16;
    grid-row-end: 19;
    border-right: 2px solid black;
}

.units-total {
    grid-column-start: 31;
    grid-column-end: 41;
    grid-row-start: 16;
    grid-row-end: 19;
    border-right: 2px solid black;
}

.sum-total {
    grid-column-start: 41;
    grid-column-end: 49;
    grid-row-start: 16;
    grid-row-end: 19;
}

.item-ten {
    border-right: 2px solid black;
}
.reset-button {

}


