* {
    font-family: 'Raleway', sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #fff0f5;
}

.grid-container {
    display: grid;
  /* 48 auto columns */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 2px;
    background-color: black;
    padding: 2px;
    width:75em;
    margin: 20px auto 0px auto;
    /* shadow */
    -moz-box-shadow: 0 0 15px #777777;
    -webkit-box-shadow: 0 0 15px #777777;
    box-shadow: 0 0 15px #777777;
 }

.grid-container > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

 .grid-item {
    color: white;
    margin: 0px;
 }

 .item-ten {
    color: white;
    border-right: 2.5px solid black;
    margin: 0px;
 }

.column-head {
    grid-row-start: 1;
    grid-row-end: 4;
    border-right: 2.5px solid black;
    border-bottom: 2.5px solid black;
    letter-spacing: .15em;

}

#thousands {
    grid-column-start: 1;
    grid-column-end: 11;
}

#hundreds {
    grid-column-start: 11;
    grid-column-end: 21;
}

#tens {
    grid-column-start: 21;
    grid-column-end: 31;
}

#units {
    grid-column-start: 31;
    grid-column-end: 41;
}

#blank-head {
    grid-column-start: 41;
    grid-column-end: 49;
    grid-row-start: 1;
    grid-row-end: 4;
    border-bottom: 2.5px solid black;
    letter-spacing: .05em;
}

.addend {
    grid-column-start: 41;
    grid-column-end: 49;
    letter-spacing: .15em;
}

.thousands-carryover {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 11;
    border-right: 2.5px solid black;
}

.hundreds-carryover {
    grid-column-start: 11;
    grid-column-end: 21;
    grid-row-start: 9;
    grid-row-end: 11;
    border-right: 2.5px solid black;
}

.tens-carryover {
    grid-column-start: 21;
    grid-column-end: 31;
    grid-row-start: 9;
    grid-row-end: 11;
    border-right: 2.5px solid black;
}

.units-carryover {
    grid-column-start: 31;
    grid-column-end: 41;
    grid-row-start: 9;
    grid-row-end: 11;
    border-right: 2.5px solid black;
}

.blank-foot {
    grid-column-start: 41;
    grid-column-end: 49;
    grid-row-start: 9;
    grid-row-end: 11;
}

.thousands-total {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 14;
    border-right: 2.5px solid black;
}

.hundreds-total {
    grid-column-start: 11;
    grid-column-end: 21;
    grid-row-start: 11;
    grid-row-end: 14;
    border-right: 2.5px solid black;
}

.tens-total {
    grid-column-start: 21;
    grid-column-end: 31;
    grid-row-start: 11;
    grid-row-end: 14;
    border-right: 2.5px solid black;
}

.units-total {
    grid-column-start: 31;
    grid-column-end: 41;
    grid-row-start: 11;
    grid-row-end: 14;
    border-right: 2.5px solid black;
}

.sum-total {
    grid-column-start: 41;
    grid-column-end: 49;
    grid-row-start: 11;
    grid-row-end: 14;
}

#addend-one {
    text-align: right;
}

#addend-two {
    text-align: right;
}

form {
  width: 100%;
  margin: 4px auto 4px auto;
}

.button {
    width: 20%;
    margin: 5px;
    padding: 8px;
    background-color: #e6d7d2;
    color: black;
    border: none;
    box-shadow: 1px 1px 0px #777777;
    border-radius: 4px;
    transition: .6s;
    font-size: 16px;
    overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:before {
  content: '';
  display: block;
  position:absolute;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.button:after {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) skewX(-15deg);
}

.button:hover {
  background-color: #e6d7d2;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 0px #777777;
}

.button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
}

.button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: .1;
  transition: .7s;
}

.tool-bar {
  width:75em;
  margin: 5px auto 5px auto;
}

.nav-bar {

}

.nav-item {

}

