* {
    font-family: 'Raleway', sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #fff0f5;
}

.page {
    border-radius: 10px;
    font-size: 150%;
    width:600px;
    margin: 200px auto 200px auto;
    padding: 40px;
    text-align: center;
    background-color: #E6D7D2;
    -moz-box-shadow: 0 0 15px #777777;
    -webkit-box-shadow: 0 0 15px #777777;
    box-shadow: 0 0 15px #777777;
}

h1 {
    text-align: center;
    letter-spacing: .05em;
    font-family: 'Dancing Script', cursive;

}

#menu {
    line-height: 1.4em;
}

/*a:link, a:visited {
  background-color:#efefef;
  color: black;
  margin: 5px;
  width: 50%;
  padding: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -moz-box-shadow: 0 2px 0 black;
  -webkit-box-shadow: 0 2px 0 black;
  box-shadow: 0 2px 0 black;
  border-radius: 10px;
  font-size: 18px;

}

a:hover {
  font-style: oblique;
  background-color: #efefef;
  opacity: 0.8;
  cursor: pointer;
}*/

.button {
    border: none;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 0 black;
    -webkit-box-shadow: 0 2px 0 black;
    box-shadow: 0 2px 0 black;
    font-size: 16px;
}

#login-form {

}

#submit {
    text-align: right;
}


