* {
    font-family: 'Raleway', sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #fff0f5;
}

.page {
    border-radius: 10px;
    font-size: 140%;
    width:600px;
    margin: 200px auto 200px auto;
    padding: 40px;
    text-align: center;
    background-color: #E6D7D2;
    -moz-box-shadow: 0 0 15px #777777;
    -webkit-box-shadow: 0 0 15px #777777;
    box-shadow: 0 0 15px #777777;
}

h1 {
    text-align: center;
    letter-spacing: .05em;
    font-family: 'Dancing Script', cursive;

}

#menu {
    line-height: 1.4em;
}

button {
    width: 60%;
    margin: 5px;
    padding: 8px;
    background-color: lavenderblush
    color: black;
    border: none;
    box-shadow: 1px 1px 0px black;
    border-radius: 4px;
    transition: .6s;
    font-size: 16px;
    overflow: hidden;
}

button:focus {
  outline: none;
}

button:before {
  content: '';
  display: block;
  position:absolute;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

button:after {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) skewX(-15deg);
}

button:hover {
  background-color: lavenderblush;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 0px black;
}

button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
}

button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: .1;
  transition: .7s;
}

#login-form {

}

#submit {
    text-align: center;
    width: 18%
}

#create {
  width: auto;
}
