* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    letter-spacing: .05em;
    font-family: 'Dancing Script', cursive;

}

body {
    width: 90%;
    margin: 0 auto;
}

.page {
    font-size: 150%;
    width: 800px;
    margin: auto;
    padding: 40px 10px 40px 20px;
    text-align: center;
}

.saved-sums {
    font-size: 50px;
    text-align: center;
}

.operands {
    font-size: 38px;
}

table {
    width: 400px;
    border-width: 2px;
    border-style: dashed;
    padding: 62px 20px 62px 20px;

}

.equations {
    float: left;
    display: inline-block;
}

button {
    width: 60%;
    margin: 5px;
    padding: 8px;
    background-color: lavenderblush
    color: black;
    border: none;
    box-shadow: 1px 1px 0px black;
    border-radius: 4px;
    transition: .6s;
    font-size: 16px;
    overflow: hidden;
}

button:focus {
  outline: none;
}

button:before {
  content: '';
  display: block;
  position:absolute;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

button:after {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) skewX(-15deg);
}

button:hover {
  background-color: lavenderblush;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 0px black;
}

button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
}

button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: .1;
  transition: .7s;
}