* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    letter-spacing: .05em;
    font-family: 'Dancing Script', cursive;

}

body {
    width: 90%;
    margin: 0 auto;
}

.page {
    font-size: 150%;
    width: 800px;
    margin: auto;
    padding: 40px 10px 40px 20px;
    text-align: center;
}

.saved-sums {
    font-size: 50px;
    text-align: center;
}

.operands {
    font-size: 38px;
}

table {
    width: 400px;
    border-width: 2px;
    border-style: dashed;
    padding: 60px 20px 60px 20px;

}

.equations {
    float: left;
    display: inline-block;
}

.button {
    border: none;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 0 black;
    -webkit-box-shadow: 0 2px 0 black;
    box-shadow: 0 2px 0 black;
    font-size: 16px;
}