* {
    font-family: Arial, Veranda, sans-serif:
}

.saved-sums {
    font-size: 50px;
    text-align: right;
}

.operands {
    font-size: 35px;
}

table {
    border-width: 2px;
    border-style: dashed;
    padding: 4px;
    margin: 4px;
}