<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>The Dot Game</title>
    <link type="text/css" href="/login-register-home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">

</head>
<body>
<div class="page">
    <h1 th:text="${username}">username</h1>
    <nav>
        <div id="menu">
            <a href="/newGame"><button class="button" type="button">New Game</button></a><br>
            <a href="/savedGames"><button class="button" type="button">Saved Games</button></a><br>
            <a href=""><button class="button" type="button">Demonstration</button></a><br>
            <a href="user/logout"><button class="button" type="button">Logout</button></a>
        </div>
    </nav>

</div>


</body>
</html>