<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link type="text/css" href="/login-register-home.css" rel="stylesheet">
</head>
<body>
<div class="page">
    <h1 th:text="${username}">username</h1>
    <nav>
        <div id="menu">
            <a href="/newGame">New Game</a><br>
            <a href="/savedGames">Saved Games</a><br>
            <a href="">Demonstration</a><br>
            <a href="user/logout">Logout</a>
        </div>
    </nav>

</div>


</body>
</html>