<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="saved-games.css" rel="stylesheet">
    <title>The Dot Game</title>
</head>
<body>
<div class="page">
    <h1 th:text="${username}"></h1>
    <th:block class="saved-game" th:each="game : ${games}">
        <div class="equations">
            <table>
                <th>
                    <tr>
                        <td class="saved-sums" th:text="${game.addendOne}"></td>
                        <td class="operands"> + </td>
                        <td class="saved-sums" th:text="${game.addendTwo}"></td>
                        <td class="operands"> = </td>
                        <td class="saved-sums" th:text="${game.sum}"></td>
                    </tr>
                </th>
            </table>
        </div>
    </th:block>
</div>
</body>
</html>