<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="saved-games.css" rel="stylesheet">
    <title></title>
</head>
<body>
<h1 th:text="${username}"></h1>

<table>
    <th:block class="saved-game" th:each="game : ${games}">
        <tr>
            <td class="saved-sums" th:text="${game.addendOne}"></td>
            <td class="operands"> + </td>
            <td class="saved-sums" th:text="${game.addendTwo}"></td>
            <td class="operands"> = </td>
            <td class="saved-sums" th:text="${game.sum}"><hr /></td>
        </tr>
    </th:block>
</table>
</body>
</html>