<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>The Dot Game</title>
    <link type="text/css" href="/login-register-home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">



</head>
<body>
<div class="page">
    <h1>The Dot Game</h1>
    <form id="login-form" th:method="post">
        <div>
            <label th:for="username">Username:
                <input class="field-box" th:field="${loginFormDTO.username}" autofocus>
            </label>
            <p class="error" th:errors="${loginFormDTO.username}"></p>
        </div>
        <div>
            <label>Password:
                <input class="field-box" th:field="${loginFormDTO.password}" type="password">
            </label>
            <p class="error" th:errors="${loginFormDTO.password}"></p>
        </div>
        <!--<input class="button" id="submit" type="submit" value="Log In"> -->
        <button class="button" id="submit" type="submit">Login</button>

        <p>Don't have an account? <a href="/register"><button class="button" type="button" id="create">Create a new account.</button></a></p>
    </form>
</div>

</body>
</html>