<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>The Dot Game</title>
    <link type="text/css" href="/login-register-home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">

</head>
<body>
<div class="page">
<h1>Create a new account:</h1>
<form th:method="post">
    <div>
        <label>Username:
            <input th:field="${registerFormDTO.username}">
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div>
        <label>Password:
            <input th:field="${registerFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div>
        <label>Verify Password:
            <input th:field="${registerFormDTO.verifyPassword}" type="password">
        </label>
    </div>
    <a href="/login"><button class="button" type="button" id="back">Back</button></a><button class="button" type="submit" id="register">Register</button>
</form>
</div>
</body>
</html>

